In [6]:
# Question 1.  Discuss string slicing and provide examples.

# Answer : String slicing is allow to access data from string to the specific path from anywhere.

# Example 1. :
Name = "Gaurav"
print(Name[0:2])

#Example 2.
Name = "Gaurav"
print(Name[:2])

#Example 3.
Name = "Gaurav"
print(Name[:-1])

Ga
Ga
Gaura

In [12]:
# Question 2.  Explain the key features of lists in Python .

#answer : List in python is ordered and mutables and there are some key features of list :

# list can store multiple types of data its can be integers , boolen value , string , etc ,.

# Example :


a = [1, 2, "Gaurav", True, 1.1, 1+3j]


# List is mutable we can add and  remove items from list after list is defined.

# Example :
a.append(3)

a.pop(-2)

(1+3j)

In [45]:
#Question 3 .  Describe how to access, modify, and delete elements in a list with example.

#Answer : List is mutable its can access multiples ways :

# 1 . Slicing

lists = [1,2,3,3,4,4]

print(lists[1:])


# 2. Insert 
lists.insert(1,8)
print (lists)

# 3. Extend 
list1 = [1,3,3,4,6,7]
list2 = [90,778,88,9]
list1.extend(list2)

#4. repeating

list1*2

#5. sort

list2.sort()

# 6 .indexing

list1.index(3)

# 7 len
len(lists)

#8 . remove 

list1.remove(1)


# 9 . del 
new_list = [21,33]
del new_list

#10 . clear 
list_for= [21,33]
list_for.clear

#11 . pop

list1.pop

[2, 3, 3, 4, 4]
[1, 8, 2, 3, 3, 4, 4]

In [13]:
# Questiom 4 .  Compare and contrast tuples and lists with examples.


# Answer : list is ordered ,mutable collections of element. Its can store any type of data its can be integers , string , boolen etc.,

# Example :

List_1 = [1,3,23.4,True,3+1j]

List_1[1]=2
print(List_1)


# Answer : Tuple  is ordered ,immutable collections of element. Its can store any type of data its can be integers , string , boolen etc.,


# Example :

List_2= (3,23.4,True,3+1j)

List_2[1]=1
print(List_2)

[1, 2, 23.4, True, (3+1j)]

TypeError: 'tuple' object does not support item assignment

In [15]:
# Question . 5  Describe the key features of sets and provide examples of their use.

# Answer :  Sets are unordered collection of unique elements . Duplicate item can't be add in sets.

# Example 
set1 ={'Ham','ham',"Ham","ham",1,1,1,12,2,23,3,3,}

 
print (set1)


#Set has some operators are :-

#union -- Select all operator

s1={1,2,3,4,}
s2={7,8,9}

print(s1|s2)

#intersection --- Select only common elements

s3={1,2,3,4,}
s4={1,2,3,47,8,9}

print(s3&s4)


#Difference --- select only from first set and discard the unique value which present in both sets

s5={1,2,3,4,5,6,77,7}
s6={1,2,3,4,7,8,9}

print(s5-s6)

#symmetric Difference --- select only unique vale from both sets

s3={1,2,3,4,}
s4={1,2,3,47,8,9}

print(s3^s4)




# Frozen sets --- Frozenset are immutables.

my_set= frozenset([1,2,3,4,4])

{1, 2, 3, 'Ham', 23, 12, 'ham'}
{1, 2, 3, 4, 7, 8, 9}
{1, 2, 3}
{77, 5, 6}
{4, 8, 9, 47}

In [18]:
#  Question 6.  Discuss the use cases of tuples and sets in Python programming.

# Answer ; Tuple and sets are both are have special functions . 


# 1 . Tuple 
# Tuple is use for immutable types of data in python :-- 

# Example :-

first= ('gaurav','Rahul' , 'ram')

first[1]='ironman'

TypeError: 'tuple' object does not support item assignment

In [19]:
# 3 . Sets 
# set is use for collect only unique value in python.
# example :--

Second = {'Gaurav','Gaurav','ram','ram',1,1,12,23,}
print(Second)

{1, 'Gaurav', 'ram', 23, 12}

In [25]:

# Question 7.  Describe how to add, modify, and delete items in a dictionary with examples.


# Answer : There are many ways to add , modify and delete items in dictionary.


# To add item in Dictionary :-

#Example 1. ;
new= {}
new['a']=1
new['b']=2
new['c']=3

print(new)

# Exampple 2. :

new.update({"d":1, "A":12})

print(new)

# To Modify item in dictionary :-
#Example 1.

new['a']=89

print(new)

# To delete the elements in python:-

info={'name':'Gaurav','Age':20,'Course': "ds"}
# to delete particular key

del info["Course"]

print (info)

# to delete whole Dictionary

del info


info={'name':'Gaurav','Age':20,'Course': "ds"}
# to empty a dictionary

info.clear()


print(info)


#example
info={'name':'Gaurav','Age':20,'Course': "ds"}

info.pop("Course")

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 1, 'A': 12}
{'a': 89, 'b': 2, 'c': 3, 'd': 1, 'A': 12}
{'name': 'Gaurav', 'Age': 20}
{}

'ds'

In [27]:
# Question 8.  Discuss the importance of dictionary keys being immutable and provide examples.


#Answer : key in Dictionary is immutable becouse keys are index in dictionary

info={'name':'Gaurav','Age':20,'Course': "ds"}

info['name']

'Gaurav'